<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Error Page</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/errorPage.css}">

</head>
<body>
<!--<h1>Sorry, something went wrong! </h1>-->
<!--<p th:if="${error}" th:text="'Error code is: ' + ${error}">Error message here</p>-->
<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="col-sm-10 col-sm-offset-1  text-center">
          <div class="four_zero_four_bg">
            <h1 th:if="${error}" th:text="${error}" class="text-center "></h1>
            <p>Whitelabel Error Page</p>
          </div>

          <div class="contant_box_404">
            <h3 class="h2">
              Look like you're lost
            </h3>

            <p>the page you are looking for not avaible!</p>

            <a th:href="@{/home}" class="link_404">Go to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>